:root {
    --very-light-pink: #C7C7C7;
    --white: #FFFFFF;
    --text-input-field: #F7F7F7;
    --black: #000000;
    --hospital-green: #ACD9B2;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Quicksand', sans-serif;
}

.editaccount {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    width: 30rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.title {
    text-align: start;
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-size: var(--lg);
}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.form .form-div {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--md);
    font-weight: bold;
}

.input {
    border: none;
    border-radius: .8rem;
    background-color: var(--white);
    height: 4rem;
    padding-left: .4rem;
    margin-top: 1rem;
    margin-bottom: 2.2rem;
    color: var(--very-light-pink);
    font-size: var(--md);
}

.success-btn {
    background-color: var(--white);
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    font-size: var(--md);
    border-radius: .8rem;
    width: 100%;
    height: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    cursor: pointer;
}

@media (min-width: 600px) {
    .container {
        height: auto;
    }

    .success-btn {
        margin-top: 2rem;
    }
}